@import './base.css';

#app {
  max-width: 100%;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: var(--vt-c-indigo);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: var(--vt-c-indigo-soft);
  }
}

@media (max-width: 768px) {
  #app {
    padding: 1rem;
  }

  a,
  .green {
    padding: 2px;
  }
}

@media (max-width: 480px) {
  #app {
    padding: 0.5rem;
  }

  a,
  .green {
    padding: 1px;
  }
}